trunk/worktest/servicemix/test/xmljob/src/main/resources/dn/servicemix/test/schemas/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:dn="http://www.dn.com"
	targetNamespace="http://www.dn.com">


  <xs:element name="ModelA">
    <xs:annotation>
      <xs:documentation>
        My ModelA in XML
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <xs:element name="Name" type="xs:string"/>
        <xs:element name="Age" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>