trunk/worktest/servicemix/test/xmljob/src/main/resources/dn/servicemix/test/schemas/srva.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:dn="http://www.dn.com"
	targetNamespace="http://www.dn.com">
	
	<xs:include schemaLocation="common.xsd" />


  <xs:element name="ShowActorRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="input" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="ShowActorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dn:ModelA"/>
        <xs:element name="message" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>