trunk/worktest/servicemix/ESBTest/xmljob/src/main/resources/dn/servicemix/example/schemas/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dis="http://www.dis-corp.com" elementFormDefault="qualified"
           targetNamespace="http://www.dis-corp.com">

  <xs:attribute name="id" type="xs:string">
    <xs:annotation>
      <xs:documentation>Represents a unique identifier as assigned by a business system</xs:documentation>
    </xs:annotation>
  </xs:attribute>


  <xs:complexType name="identifierReference">
    <xs:attribute name="webId" type="xs:integer" use="optional">
      <xs:annotation>
        <xs:documentation>
          The is the primary key of the record on the middle tier. This field should have a value when
          communicating from the middle tier to the mobile device/web
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="internalId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          This is the primary identifier on the DMS system
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>


  <xs:simpleType name="dateTime">
    <xs:annotation>
      <xs:documentation>Type representing either a date or date with time</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="xs:date xs:dateTime"/>
  </xs:simpleType>

  <xs:element name="Dealer">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="1">
        <xs:element name="Name" type="xs:string"></xs:element>
        <xs:element ref="dis:Companies" minOccurs="0" maxOccurs="1"/>
        <!--
                <xs:element ref="dis:Branches" minOccurs="0" maxOccurs="1"></xs:element>
                <xs:element ref="dis:Departments" minOccurs="0" maxOccurs="1"></xs:element>
                -->
      </xs:sequence>
      <xs:attribute name="webId" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>
            The is the primary key of the record on the middle tier.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="enterpriseId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>The dealers DIS enterprise ID.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="Companies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="dis:Company"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Company">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:element name="Name" type="xs:string"/>
        <!-- <xs:element name="code" type="xs:string" minOccurs="0" maxOccurs="1"/> -->
        <!-- <xs:element name="internalId" type="xs:string" minOccurs="0" maxOccurs="1"/>  major -->
        <!-- <xs:element name="dealerId" type="xs:string" minOccurs="0"/> Major -->
        <!--- 	<xs:element name="version" type="xs:long"/>  major -->
        <xs:element ref="dis:Branches" minOccurs="0" maxOccurs="1"/>
        <xs:element name="MainBranchId" type="dis:branchReference" minOccurs="0" maxOccurs="1"/>
        <xs:element name="FiscalStartMonth" type="xs:integer" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="internalId" use="optional" type="xs:string"/>
      <xs:attribute name="webId" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>
            The is the primary key of the record on the middle tier.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="Branches">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Dealer" type="dis:dealerReference"/>
        <xs:element minOccurs="1" maxOccurs="1" name="Company" type="dis:companyReference"/>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="dis:Branch"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Branch">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="1">
        <xs:element name="Name"></xs:element>
        <xs:element ref="dis:Contact" minOccurs="0"></xs:element>
        <xs:element name="Customer" type="dis:customerReference" minOccurs="0" maxOccurs="1"/>
        <!--  Major. Use Address reference instead of address type.
                <xs:element name="Address" type="dis:address"></xs:element>
                -->
        <xs:element ref="dis:Address" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="dis:Departments" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="internalId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            DMS identifier for record
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="webId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The is the primary key of the record on the middle tier.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>


  <xs:element name="Departments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="dis:Department"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

    <xs:simpleType name="departmentType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Undefined">
                <xs:annotation>
                    <xs:documentation>Department type is not defined. Value = 0.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Parts">
                <xs:annotation>
                    <xs:documentation>Department type is Parts. Value = 1.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Service">
                <xs:annotation>
                    <xs:documentation>Department type is Service. Value = 2.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UnitSales">
                <xs:annotation>
                    <xs:documentation>Department type is Unit Sales. Value = 3.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Rental">
                <xs:annotation>
                    <xs:documentation>Department type is Rental. Value = 4.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Admin">
                <xs:annotation>
                    <xs:documentation>Department type is Admin. Value = 5.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Department">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
        <xs:element name="type" type="dis:departmentType" minOccurs="0" maxOccurs="1"></xs:element>
      </xs:sequence>
      <xs:attribute name="internalId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            DMS identifier for record
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="webId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The is the primary key of the record on the middle tier.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>


  <xs:complexType name="departmentReference">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="name" type="xs:string"></xs:element>
    </xs:sequence>
    <xs:attribute name="internalId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          DMS system identifier for record
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The is the primary key of the record on the middle tier.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>


  <xs:element name="Customer">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="1">
        <xs:element name="Name" type="xs:string"></xs:element>
        <xs:element name="Branch" type="dis:branchReference" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>
              Used by Keystone to denote which branch a customer belongs to.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="BillTo" type="dis:addressType" minOccurs="0"></xs:element>
        <xs:element name="ShipToAddresses" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ShipTo" type="dis:addressType" minOccurs="0" maxOccurs="unbounded"></xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element ref="dis:SolvencyCode" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dis:CurrencyCode" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dis:ChargeCode" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dis:CommodityCode" minOccurs="0"/>
        <xs:element ref="dis:DiscountCode" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dis:PriceCode" minOccurs="0" maxOccurs="1"/>
        <xs:element name="DefaultOrderAddress" type="dis:addressReference" minOccurs="1" maxOccurs="1"/>
        <xs:element name="DefaultShipToCustomer" type="dis:customerReference" minOccurs="1" maxOccurs="1"/>
        <xs:element name="DefaultShipToAddress" type="dis:addressReference" minOccurs="1" maxOccurs="1"/>
        <xs:element name="DefaultBillToCustomer" type="dis:customerReference" minOccurs="1" maxOccurs="1"/>
        <xs:element name="DefaultBillToAddress" type="dis:addressReference" minOccurs="1" maxOccurs="1"/>
        <xs:element name="DefaultPaymentCustomer" type="dis:customerReference" minOccurs="1" maxOccurs="1"/>
        <xs:element name="DefaultPaymentAddress" type="dis:addressReference" minOccurs="1" maxOccurs="1"/>
        <xs:element name="PurchaseOrderRequired" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Active" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        <xs:element name="DamageWaiver" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dis:LegalText" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dis:Territory" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Language" type="xs:language" minOccurs="0" maxOccurs="1"/>
        <xs:element name="GroupInvoices" type="xs:integer" minOccurs="0" maxOccurs="1"/>
        <xs:element name="SalesPersons" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="SalesPerson" type="dis:userReference" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Addresses" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="dis:Address" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Contacts" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="dis:Contact" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
      <xs:attribute name="internalId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            DMS system identifier for record
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="webId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The is the primary key of the record on the middle tier.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="communicationMethodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PHONE">
        <xs:annotation>
          <xs:documentation>Phone number</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FAX">
        <xs:annotation>
          <xs:documentation>Fax number</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EMAIL">
        <xs:annotation>
          <xs:documentation>Email address</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EM_INV">
        <xs:annotation>
          <xs:documentation>Email for invoice</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CELL">
        <xs:annotation>
          <xs:documentation>Cellular/Mobile phone</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FAX_INV">
        <xs:annotation>
          <xs:documentation>FAX for invoices</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TWITTER">
        <xs:annotation>
          <xs:documentation>Twitter account</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FACEBOOK">
        <xs:annotation>
          <xs:documentation>Facebook account</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WWW">
        <xs:annotation>
          <xs:documentation>Website address</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="CommunicationDetail">
    <xs:annotation>
      <xs:documentation>
        This is the different means of communication that any entity in a business system can have
        (Phone, Fax, Email...).
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Information" type="xs:string"/>
        <xs:element name="Main" type="xs:boolean"/>
        <xs:element name="Extension" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="method" type="dis:communicationMethodType" use="required">
        <xs:annotation>
          <xs:documentation>The communcation method id.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="internalId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            This is the id for a manufacturer that is used by the DMS.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="webId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The is the primary key of the record on the middle tier.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>


  <xs:element name="Contact">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Title" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="FirstName" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="MiddleName" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="LastName" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element name="Suffix" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="NickName" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Gender" type="xs:string" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>
              M for Male
              F for Female
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Language" type="xs:language" minOccurs="1" maxOccurs="1"/>
        <xs:element name="Role" type="dis:identifierReference" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Relationship" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:attribute name="id" type="dis:relationship" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="BirthDay" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Notes" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <!--<xs:element ref="dis:Address" name="Address" type="dis:identifierReference" />-->
        <xs:element ref="dis:Address" minOccurs="0" maxOccurs="1"/>
        <xs:element name="MasterContact" type="dis:contactReference" minOccurs="0" maxOccurs="1"/>
        <xs:element name="SalesPersons" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="SalesPerson" type="dis:userReference"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!--
                <xs:element name="Addresses" minOccurs="0">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="dis:Address" minOccurs="1" maxOccurs="unbounded"></xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                -->
      </xs:sequence>
      <xs:attribute name="internalId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            DMS system identifier for record
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="webId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The is the primary key of the record on the middle tier.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <!--
      <xs:element name="Manufacturers">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Manufacturer" type="dis:manufacturer" minOccurs="1" maxOccurs="unbounded"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    -->
  <xs:complexType name="manufacturer">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="DisplayName" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="ProductType" type="dis:productType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="internalId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          This is the id for a manufacturer that is used by the DMS.

          For labor and miscellaneous products, labor and miscellaneous manufacturers need to be setup.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The is the primary key of the record on the middle tier.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="manufacturerReference">
    <xs:attribute name="internalId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          A commodity code is a code that is assigned by parts manufacturers so that parts can be grouped into
          categories. The commodity codes are used in determining the prices on parts
          Example:
          FF - Fuel Filters
          OF - Oil Filters
          AF - Air Filters
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" type="xs:integer" use="optional"/>
  </xs:complexType>

  <xs:complexType name="manufacturerAcknowledgeReference">
    <xs:sequence>
      <xs:element ref="dis:AcknowledgeStatus" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="internalId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          This is the id for a manufacturer that is used by the DMS.

          For labor and miscellaneous products, labor and miscellaneous manufacturers need to be setup.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The is the primary key of the record on the middle tier.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="ShippingMethods">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ShippingMethod" type="dis:shippingMethod" minOccurs="0" maxOccurs="unbounded"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="shippingMethod">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"></xs:element>
      <xs:element name="Code" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="machine">
    <xs:annotation>
      <xs:documentation>A piece of equipment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:sequence minOccurs="0" maxOccurs="1">
        <xs:element name="Manufacturer" type="dis:manufacturerReference" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dis:Model" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dis:SerialNumber" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:element minOccurs="0" ref="dis:EngineSerialNumber"/>
      <xs:element minOccurs="0" ref="dis:VIN"/>
      <xs:element minOccurs="0" ref="dis:AlternateID"/>
      <xs:sequence minOccurs="0">
        <xs:element ref="dis:HourMeter" minOccurs="0"/>
        <xs:element ref="dis:Odometer" minOccurs="0"/>
      </xs:sequence>
      <xs:element name="Location" minOccurs="0" type="dis:Location">
        <xs:annotation>
          <xs:documentation>The location of the equipment.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>

    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="customerAddress">
    <xs:sequence>
      <xs:element name="Customer" type="dis:customerReference" minOccurs="0"/>
      <xs:element name="Address" type="dis:addressType"/>
    </xs:sequence>
  </xs:complexType>


  <xs:element name="Model" type="xs:string"/>
  <xs:element name="SerialNumber" type="xs:string"/>
  <xs:element name="EngineSerialNumber" type="xs:string"/>
  <xs:element name="VIN" type="xs:string"/>
  <xs:element name="AlternateID" type="xs:string"/>
  <xs:element name="HourMeter" type="dis:nonNegativeDecimal"/>
  <xs:element name="Odometer" type="dis:nonNegativeDecimal"/>

  <xs:complexType name="Location">
    <xs:annotation>
      <xs:documentation>
        A physical geographical location. Specified either via lat and long or a postal address.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:sequence minOccurs="0">
        <xs:element ref="dis:Lattitude"/>
        <xs:element ref="dis:Longitude"/>
      </xs:sequence>
      <xs:element minOccurs="0" name="Address" type="dis:addressType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lattitude" type="xs:decimal"/>
  <xs:element name="Longitude" type="xs:decimal"/>

  <xs:complexType name="Location1">
    <xs:annotation>
      <xs:documentation>A physical geographical location. Specified either via lat and long</xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element ref="dis:Lattitude"/>
      <xs:element ref="dis:Longitude"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="nonNegativeDecimal">
    <xs:annotation>
      <xs:documentation></xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0.0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="email">
    <xs:annotation>
      <xs:documentation>Email Address</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([a-zA-Z0-9_\-])([a-zA-Z0-9_\-\.]*)@(\[((25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])\.){3}|((([a-zA-Z0-9\-]+)\.)+))([a-zA-Z]{2,}|(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])\])"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="phoneNumber">
    <xs:annotation>
      <xs:documentation>
        Phone number not including dashes or parenthesis without spaces. Number should be 3606471234 not (360)
        647-1234. Optionally can specify an extension.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:unsignedLong">
        <xs:attribute name="extension" use="optional" type="xs:unsignedInt"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>


  <xs:element name="Address">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Name1" minOccurs="1" maxOccurs="1" type="xs:string"/>
        <xs:element name="Name2" minOccurs="0" maxOccurs="1" type="xs:string"/>
        <xs:element minOccurs="1" maxOccurs="1" name="Street1" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="Street2" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="Street3" type="xs:string"/>
        <xs:element ref="dis:City"/>
        <xs:element ref="dis:State"/>
        <xs:element ref="dis:PostalCode"/>
        <xs:element name="County" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dis:Country">
          <xs:annotation>
            <xs:documentation>
              This is the 2 digit country code.
              ISO Standard 3166 - country code is being used.
              Go here if you are unsure of the country code to use:
              http://www.iso.org/iso/english_country_names_and_code_elements
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="dis:TaxCode" minOccurs="0" maxOccurs="1"/>
        <xs:element name="AddressType" type="dis:addressType1" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Active" type="xs:boolean" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              No status change is done when this node is not present in a message.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ShipTo" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        <xs:element name="BillTo" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        <xs:element name="MailTo" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Payment" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Main" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        <xs:element name="DateStart" type="dis:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="DateEnd" type="dis:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="CommunicationDetails" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="dis:CommunicationDetail" minOccurs="0" maxOccurs="unbounded"></xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="internalId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Dealer systems internal Id
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="webId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The is the primary key of the record on the middle tier.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>


  <xs:complexType name="addressType">
    <xs:annotation>
      <xs:documentation>Postal Address.</xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="0">
      <xs:element name="Name" minOccurs="0" maxOccurs="2" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="2" ref="dis:Street"/>
      <xs:element ref="dis:City"/>
      <xs:element ref="dis:State"/>
      <xs:element ref="dis:PostalCode"/>
      <xs:element ref="dis:Country"/>
      <xs:element name="CommunicationDetails" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="dis:CommunicationDetail" minOccurs="0" maxOccurs="unbounded"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UsedFor" minOccurs="0" maxOccurs="1" type="xs:integer"/>
    </xs:sequence>
    <xs:attribute name="internalId" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="addressReference">
    <xs:attribute name="internalId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          DMS Address identifier
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The is the primary key of the record on the middle tier.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>


  <xs:element name="Street" type="xs:string"/>
  <xs:element name="City" type="xs:string"/>
  <xs:element name="State" type="xs:string"/>
  <xs:element name="PostalCode" type="xs:string"/>
  <xs:element name="Country" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        This is the 2 digit country code.
        ISO Standard 3166 - country code is being used.
        Go here if you are unsure of the country code to use:
        http://www.iso.org/iso/english_country_names_and_code_elements
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="Amount" type="dis:amount"/>

  <xs:complexType name="amount">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="currency" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="DateDue" type="dis:dateTime"/>


  <xs:simpleType name="notePermission">
    <xs:restriction base="xs:string">
      <xs:enumeration value="All"/>
      <xs:enumeration value="Company"/>
      <xs:enumeration value="Branch"/>
      <xs:enumeration value="Department"/>
    </xs:restriction>
  </xs:simpleType>


  <xs:element name="Note">
    <xs:annotation>
      <xs:documentation>
        Notes can be created in various process and are attached to business entities. Notes can be designated
        to be available to only certain individuals or processes.

        This ability to read the note is controlled by the Roles to which it is assigned and the base level
        permission for the note.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:element name="Company" type="dis:identifierReference" minOccurs="1" maxOccurs="1"/>
        <xs:element name="Branch" type="dis:identifierReference" minOccurs="1" maxOccurs="1"/>
        <xs:element name="Department" type="dis:identifierReference" minOccurs="1" maxOccurs="1"/>
        <xs:element name="User" type="dis:identifierReference" minOccurs="1" maxOccurs="1"/>
        <xs:element name="Customer" type="dis:identifierReference" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Supplier" type="dis:identifierReference" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Equipment" type="dis:identifierReference" minOccurs="0" maxOccurs="1"/>
        <xs:element name="DateCreated" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
        <xs:element name="DateUpdated" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
        <xs:element name="Text" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element name="Permission" type="dis:notePermission" minOccurs="1" maxOccurs="1"/>
        <xs:element name="Role" type="dis:identifierReference" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="internalId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            DMS note Id
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="webId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The is the primary key of the record on the middle tier.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>


  <!-- TODO: Should WorkOrderID be named to WorkOrderNumber to keep the confusion down because of the work order  attribute id and this element of WorkOrderID -->
  <xs:complexType name="workOrderReference">
    <xs:sequence>
      <xs:element name="WorkOrderID" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Work Order ID that is printed on the work order that the customer sees.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="internalId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          DMS work order identifier
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The is the primary key of the record on the middle tier.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="invoiceReference">
    <xs:sequence>
      <xs:element name="InvoiceID" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Invoice ID that is printed on the invoice that the customer sees.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="internalId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          DMS invoice identifier id
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The is the primary key of the record on the middle tier.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="dealerReference">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Name" type="xs:string"></xs:element>
    </xs:sequence>
    <xs:attribute name="enterpriseId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The way this dealer is known by DIS.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The is the primary key of the record on the middle tier.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="dealerAcknowledgeReference">
    <xs:sequence>
      <xs:element ref="dis:AcknowledgeStatus" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="enterpriseId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The way this dealer is known by DIS.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The is the primary key of the record on the middle tier.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="branchReference">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Name"></xs:element>
    </xs:sequence>
    <xs:attribute name="internalId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          DMS Id
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The is the primary key of the record on the middle tier.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="companyReference">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Name"></xs:element>
    </xs:sequence>
    <xs:attribute name="internalId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          DMS Id
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The is the primary key of the record on the middle tier.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>


  <xs:complexType name="customerReference">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Name" type="xs:string"></xs:element>
    </xs:sequence>
    <xs:attribute name="internalId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          DMS Id
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The is the primary key of the record on the middle tier.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="customerAcknowledgeReference">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element ref="dis:AcknowledgeStatus" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="internalId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          DMS Id
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The is the primary key of the record on the middle tier.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="glPeriodReference">
      <xs:sequence minOccurs="1" maxOccurs="1">
          <xs:element name="Year" type="xs:integer" minOccurs="1" maxOccurs="1"></xs:element>
          <xs:element name="Month" type="xs:integer" minOccurs="1" maxOccurs="1"></xs:element>
      </xs:sequence>
  </xs:complexType>

  <xs:complexType name="queryParameter">
    <xs:attribute name="operator" use="required" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="paging">
    <xs:sequence>
      <xs:element name="Results">
        <xs:complexType>
          <xs:attribute name="max" use="required" type="xs:integer"/>
          <xs:attribute name="offset" use="required" type="xs:integer"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="Sort">
        <xs:complexType>
          <xs:attribute name="field" use="required" type="xs:string"/>
          <xs:attribute name="direction" use="required" type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="results">
    <xs:sequence>
      <xs:element name="Total" type="xs:integer"/>
      <xs:element name="Sort">
        <xs:complexType>
          <xs:attribute name="field" use="required" type="xs:string"/>
          <xs:attribute name="direction" use="required" type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="AcknowledgeStatus">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="code" type="dis:statusType"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="statusType">
    <xs:restriction base="xs:string">
      <xs:pattern value="OK"/>
      <xs:pattern value="FAIL"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="SolvencyCode">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:element name="Name" type="dis:localizedString" minOccurs="0" maxOccurs="unbounded"></xs:element>
      </xs:sequence>
      <xs:attribute name="internalId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            DMS Id
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="webId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The is the primary key of the record on the middle tier.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="solvencyCodeAcknowledgeReference">
    <xs:sequence>
      <xs:element ref="dis:AcknowledgeStatus" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="internalId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          DMS Id
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The is the primary key of the record on the middle tier.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="CurrencyCode">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:element name="name" type="dis:localizedString" minOccurs="0" maxOccurs="unbounded"></xs:element>
      </xs:sequence>
      <xs:attribute name="internalId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            DMS Id
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="webId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The is the primary key of the record on the middle tier.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="CommodityCode">
    <xs:annotation>
      <xs:documentation>
        A commodity code is a code that is assigned by parts manufacturers so that parts can be grouped into
        categories. The commodity codes are used in determining the prices on parts
        Example:
        FF - Fuel Filters
        OF - Oil Filters
        AF - Air Filters
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:element name="Name"></xs:element>
        <xs:element name="Manufacturer" type="dis:manufacturerReference" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="internalId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            DMS Id
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="webId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The is the primary key of the record on the middle tier.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="DiscountCode">
    <xs:annotation>
      <xs:documentation>
        Discount codes are used to determine what discounts are applied to a particular order.
        This code is used in calculating a net price for a business entity. This could be used for both
        suppliers and customers.

        A discount code could represent various different types of discounts. The discounts could be on
        individual parts, a group of parts (commodity code, marketing code, ...), based on amount spent (10% for
        orders over 500, 2 % for orders under 500)
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:element name="Name" type="dis:localizedString" minOccurs="0" maxOccurs="unbounded"></xs:element>
      </xs:sequence>
      <xs:attribute name="internalId" use="optional" type="xs:string"/>
      <xs:attribute name="webId" use="optional" type="xs:integer"/>
    </xs:complexType>
  </xs:element>


  <xs:element name="ChargeCode">
    <xs:annotation>
      <xs:documentation>
        Charge codes are used to determine what extra charges are applied to customer order.
        These are most often used in Service processes where shop supplies and environmental fees are applied
        when an order is finished. The can also be applied to products that have an environmental impact (e.g.
        oil, batteries, ...)

        A charge could be applied as a set amount or as a percentage of a full order.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:element name="Name" type="dis:localizedString" minOccurs="0" maxOccurs="unbounded"></xs:element>
      </xs:sequence>
      <xs:attribute name="internalId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            DMS Id
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="webId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The is the primary key of the record on the middle tier.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>


  <xs:element name="PriceCode">
    <xs:annotation>
      <xs:documentation>
        Price codes are assigned to customers and are used in determining the pricing rules that are applied to
        that customer.

        Some customers may get some parts at Dealer Net + 10% because they have a contract with the supplier,
        and all other parts at Dealer Net + 30%
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:element name="Name" type="dis:localizedString" minOccurs="0" maxOccurs="unbounded"></xs:element>
      </xs:sequence>
      <xs:attribute name="internalId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            DMS Id
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="webId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The is the primary key of the record on the middle tier.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>


  <xs:element name="TaxCode">
    <xs:annotation>
      <xs:documentation>
        TaxCode is a representation of the sales taxes that apply in a particular jurisdiction. These taxes
        could include City, County, State, and Federal.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:element name="Name" type="dis:localizedString" minOccurs="0" maxOccurs="unbounded"></xs:element>
      </xs:sequence>
      <xs:attribute name="internalId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            DMS Id
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="webId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The is the primary key of the record on the middle tier.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="taxCodeAcknowledgeReference">
    <xs:annotation>
      <xs:documentation>
        TaxCode is a representation of the sales taxes that apply in a particular jurisdiction. These taxes
        could include City, County, State, and Federal.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="dis:AcknowledgeStatus" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="internalId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          DMS Id
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The is the primary key of the record on the middle tier.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="Territory">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:element name="name"></xs:element>
        <xs:element ref="dis:Dealer"/>
        <xs:element ref="dis:Company"/>
      </xs:sequence>
      <xs:attribute name="internalId" use="optional" type="xs:string"/>
      <xs:attribute name="webId" use="optional" type="xs:string"/>

    </xs:complexType>
  </xs:element>

  <xs:element name="Entity">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Customer" type="dis:customerReference" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Supplier" type="dis:supplierReference" minOccurs="0" maxOccurs="1"/>
        <xs:element name="User" type="dis:userReference" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="internalId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            DMS Id
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="webId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The is the primary key of the record on the middle tier.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="entitytype" use="required" type="dis:entityType"/>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="entityType">
    <xs:restriction base="xs:string">
      <xs:annotation>
        <xs:documentation>
          There are three different business entity types.
        </xs:documentation>
      </xs:annotation>
      <xs:enumeration value="Supplier"/>
      <xs:enumeration value="Customer"/>
      <xs:enumeration value="User"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="LegalText">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:element name="name"></xs:element>
        <xs:element ref="dis:Dealer"/>
        <xs:element name="TextLocation" type="dis:legalTextLocation"/>
        <xs:element name="Text" type="dis:localizedString"/>
        <xs:element name="Documents">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Document" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="internalId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            DMS Id
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="webId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The is the primary key of the record on the middle tier.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="legalTextLocation">
    <xs:restriction base="xs:int">
      <xs:enumeration value="0"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
    </xs:restriction>
  </xs:simpleType>


  <xs:complexType name="RoleCodeAcknowledgeReference">
    <xs:sequence maxOccurs="1" minOccurs="0">
      <xs:element minOccurs="1" maxOccurs="1" ref="dis:AcknowledgeStatus"/>
    </xs:sequence>
    <xs:attribute name="internalId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          DMS Id
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The is the primary key of the record on the middle tier.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="RoleCode">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:element name="UsedForContacts" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        <xs:element name="UsedForInternal" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Name" type="dis:localizedString" minOccurs="0" maxOccurs="unbounded"/>

      </xs:sequence>
      <xs:attribute name="internalId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            DMS Id
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="webId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The is the primary key of the record on the middle tier.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="User">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="1">
        <xs:element name="Dealer" type="dis:dealerReference" minOccurs="1" maxOccurs="1"/>
        <xs:element name="Company" type="dis:identifierReference" minOccurs="1" maxOccurs="1"/>
        <xs:element name="Branch" type="dis:identifierReference" minOccurs="1" maxOccurs="1"/>
        <xs:element name="Department" type="dis:identifierReference" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Name" type="xs:string"></xs:element>
        <xs:element name="Active" type="xs:boolean"/>
        <xs:element ref="dis:Territory"/>

        <xs:element name="Contacts" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="dis:Contact" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Addresses" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="dis:Address"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="Language" type="xs:language" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Role" type="dis:identifierReference" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="internalId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            DMS Id
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="webId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The is the primary key of the record on the middle tier.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="userReference">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Dealer" type="dis:dealerReference" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Company" type="dis:identifierReference" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Branch" type="dis:identifierReference" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Department" type="dis:identifierReference" minOccurs="0" maxOccurs="1"/>
      <xs:element name="DateUpdated" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="internalId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          DMS Id
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The is the primary key of the record on the middle tier.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="userAcknowledgeReference">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Dealer" type="dis:dealerReference" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Company" type="dis:identifierReference" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Branch" type="dis:identifierReference" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Department" type="dis:identifierReference" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="dis:AcknowledgeStatus" minOccurs="1" maxOccurs="1"/>

    </xs:sequence>
    <xs:attribute name="internalId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          DMS Id
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The is the primary key of the record on the middle tier.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>


  <xs:element name="MetaDataValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dis:MetaDataKey" minOccurs="1" maxOccurs="1"/>
        <xs:element name="KeyValue" type="dis:localizedString" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="MetaDataKeyValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Key" minOccurs="1" maxOccurs="1"/>
        <xs:element name="Text" type="dis:localizedString" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="usedBy">
    <xs:sequence>
      <xs:element name="Supplier" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Customer" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Users" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Product" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Equipment" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="MetaDataKey">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="1">
        <xs:element name="Text" type="dis:localizedString" minOccurs="1" maxOccurs="unbounded"/>
        <xs:element name="UsedBySupplier" minOccurs="0" maxOccurs="1"/>
        <xs:element name="UsedByCustomer" minOccurs="0" maxOccurs="1"/>
        <xs:element name="UsedByUsers" minOccurs="0" maxOccurs="1"/>
        <xs:element name="UsedByProduct" minOccurs="0" maxOccurs="1"/>
        <xs:element name="UsedByEquipment" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dis:MetaDataGroup"/>
      </xs:sequence>
      <xs:attribute name="internalId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            DMS Id
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="webId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The is the primary key of the record on the middle tier.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="valuetype" use="optional" type="dis:metaDataValueType"/>
    </xs:complexType>
  </xs:element>


  <xs:element name="EntityMetaData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Customer" type="dis:customerReference" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Supplier" type="dis:supplierReference" minOccurs="0" maxOccurs="1"/>
        <xs:element name="User" type="dis:userReference" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dis:MetaDataValue"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="metaDataValueType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="boolean"/>
      <xs:enumeration value="string"/>
      <xs:enumeration value="decimal"/>
      <xs:enumeration value="integer"/>
      <xs:enumeration value="date"/>
      <xs:enumeration value="datetime"/>
    </xs:restriction>
  </xs:simpleType>


  <xs:element name="ProductMetaData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Product" type="dis:productReference" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="dis:MetaDataValue"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:element name="MetaDataGroup">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="1">
        <xs:element name="Text" type="dis:localizedString"/>
        <xs:element name="Editable" type="xs:boolean"/>
      </xs:sequence>
      <xs:attribute name="internalId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            DMS Id
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="webId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The is the primary key of the record on the middle tier.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>


  <xs:complexType name="contactReference">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Name"></xs:element>
    </xs:sequence>
    <xs:attribute name="internalId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          DMS Id
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The is the primary key of the record on the middle tier.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>


  <xs:simpleType name="addressType1">
    <xs:annotation>
      <xs:documentation>Address Type: Entity or Contact</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="entity"/>
      <xs:enumeration value="contact"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="yesno">
    <xs:annotation>
      <xs:documentation>
        Instead of using true or false for booleans, use yes for true, and no for false
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="relationship">
    <xs:annotation>
      <xs:documentation>
        The relationship between this contact and the master.
        Valid values are spouse or child
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="spouse"/>
      <xs:enumeration value="child"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="supplierReference">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Name" type="xs:string"></xs:element>
    </xs:sequence>
    <xs:attribute name="internalId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          DMS Id
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The is the primary key of the record on the middle tier.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>


  <xs:element name="EquipmentGroup">
    <xs:annotation>
      <xs:documentation>
        This is an equipment group element. This is generically defined on a System.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:element name="name" type="dis:localizedString" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="internalId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            DMS Id
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="webId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The is the primary key of the record on the middle tier.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>


  <xs:element name="EquipmentSeries">
    <xs:annotation>
      <xs:documentation>
        This is an equipment series element. This is generically defined on a System.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:element name="name" minOccurs="1" maxOccurs="unbounded" type="dis:localizedString"/>
      </xs:sequence>
      <xs:attribute name="internalId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            DMS Id
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="webId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The is the primary key of the record on the middle tier.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="localizedString">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="language" type="xs:language" use="optional">
          <xs:annotation>
            <xs:documentation>
              It is recommended that the specification from RFC 5646 be used for language codes.
              Go here for more information. http://www.w3.org/International/articles/language-tags/
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="metadatavalue1">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="id" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>
              It is recommended that the specification from RFC 5646 be used for language codes.
              Go here for more information. http://www.w3.org/International/articles/language-tags/
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="ownerType">
    <xs:annotation>
      <xs:documentation>
        This enumeration is used to denote when the dealer or customer is the owner of the
        equipment
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="dealer"/>
      <xs:enumeration value="customer"/>
    </xs:restriction>
  </xs:simpleType>


  <xs:simpleType name="productType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Part"><xs:annotation><xs:documentation>Part = 1</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="Equipment"><xs:annotation><xs:documentation>Equipment = 2</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="Labor"><xs:annotation><xs:documentation>Labor = 3</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="Miscellaneous Non Tangible"><xs:annotation><xs:documentation>Miscellaneous Non Tangible = 9</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="Tangible Miscellaneous"><xs:annotation><xs:documentation>Tangible Miscellaneous = 4</xs:documentation></xs:annotation></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>


  <xs:element name="Description">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Text" type="dis:localizedString" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="productReference">
    <xs:attribute name="internalId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          This is a generic term for anything that a dealer can receive revenue from. This includes parts:
          1. part numbers
          2. labor (type of labor)
          3. miscellaneous (shop charges)
          4. equipment models (note this is the model identifier, and not the instance of a model.
          Example: Ford F-150 is a model, F-150 VIN:1234566 is an instance of the model.)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="internalManufacturerId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          This is the DMS manufacturer identifier of the product.

          For labor and miscellaneous products, labor and miscellaneous manufacturers need to be setup.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" type="xs:integer" use="optional">
      <xs:annotation>
        <xs:documentation>
          Web id for the product. Manufacturer is derivable from the product table.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="standardJobCodeReference">
    <xs:attribute name="jobCode" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>JobCode id from the DMS </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="completeJobCode" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          The job code as it exists on the DMS.  This is the combined job code for each level of a tree.

          Example.  job code structure is xx-xx-xx.  The first code level is 10.  the second code level is 20.
          This first level StandardJobCode message would have jobCode="10" completeJobCode="10".
          The second level StandardJobCode message would have jobCode="20" completeJobCode="1020".
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="internalJobCodeManufacturerId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>JobCode Manufacturer id from the DMS </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The is the primary key of the record on the middle tier.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="standardJobCodeAcknowledgeReference">
      <xs:sequence>
        <xs:element ref="dis:AcknowledgeStatus" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    <xs:attribute name="jobCode" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>JobCode id from the DMS </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="completeJobCode" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          The job code as it exists on the DMS.  This is the combined job code for each level of a tree.

          Example.  job code structure is xx-xx-xx.  The first code level is 10.  the second code level is 20.
          This first level StandardJobCode message would have jobCode="10" completeJobCode="10".
          The second level StandardJobCode message would have jobCode="20" completeJobCode="1020".
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="internalJobCodeManufacturerId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>JobCode Manufacturer id from the DMS </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The is the primary key of the record on the middle tier.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>


  <xs:complexType name="inventoryQuantity">
    <xs:attribute name="qty" type="xs:decimal" use="required">
      <xs:annotation>
        <xs:documentation>
          quantity - decimal value.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>


  <xs:simpleType name="associationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="replacement"/>
      <xs:enumeration value="core"/>
      <xs:enumeration value="surcharge"/>
      <xs:enumeration value="crossreference"/>
      <xs:enumeration value="kit"/>
    </xs:restriction>
  </xs:simpleType>


  <xs:element name="LaborCode">
    <xs:annotation>
      <xs:documentation>
        Labor code is determines the type of labor being performed. Example.
        FL - Field labor
        SL - Shop Labor
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:element name="Name" type="dis:localizedString" minOccurs="0" maxOccurs="unbounded"></xs:element>
      </xs:sequence>
      <xs:attribute name="internalId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            DMS Id
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="webId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The is the primary key of the record on the middle tier.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="laborCodeAcknowledgeReference">
    <xs:annotation>
      <xs:documentation>
        Labor code is determines the type of labor being performed. Example.
        FL - Field labor
        SL - Shop Labor
      </xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="1" minOccurs="0">
      <xs:element ref="dis:AcknowledgeStatus" minOccurs="1" maxOccurs="1"></xs:element>
    </xs:sequence>
    <xs:attribute name="internalId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          DMS Id
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The is the primary key of the record on the middle tier.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="LaborTimeTypeCode">
    <xs:annotation>
      <xs:documentation>
        Labor code is determines the type of labor being performed. Example.
        FL - Field labor
        SL - Shop Labor
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:element name="Name" type="dis:localizedString" minOccurs="0" maxOccurs="unbounded"></xs:element>
      </xs:sequence>
      <xs:attribute name="internalId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            DMS Id
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="webId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The is the primary key of the record on the middle tier.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="laborTimeTypeCodeAcknowledgeReference">
    <xs:annotation>
      <xs:documentation>
        Labor code is determines the type of labor being performed. Example.
        FL - Field labor
        SL - Shop Labor
      </xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="1" minOccurs="0">
      <xs:element ref="dis:AcknowledgeStatus" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="internalId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          DMS Id
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The is the primary key of the record on the middle tier.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="UnProductiveTimeTypeCode">
    <xs:annotation>
      <xs:documentation>
        Code used for unproductive time.
        LUNCH - Lunch
        SICK - Sick
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:element name="Name" type="dis:localizedString" minOccurs="0" maxOccurs="unbounded"></xs:element>
      </xs:sequence>
      <xs:attribute name="internalId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            DMS Id
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="webId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The is the primary key of the record on the middle tier.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="Message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Text" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="folderReference">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="name" type="xs:string"></xs:element>
    </xs:sequence>
    <xs:attribute name="internalId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          DMS Id
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The is the primary key of the record on the middle tier.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:simpleType name="segmentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sales"/>
      <xs:enumeration value="Quote"/>
      <xs:enumeration value="Credit"/>
      <xs:enumeration value="Internal"/>
      <xs:enumeration value="Warranty"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="lineActionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Add"/>
      <xs:enumeration value="Modify"/>
      <xs:enumeration value="Delete"/>
      <xs:enumeration value="None"/>
      <!-- Do we need this one? -->
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="lineType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Part"/>
      <xs:enumeration value="Notes"/>
      <xs:enumeration value="Standard Time"/>
      <xs:enumeration value="External Expense"/>
      <xs:enumeration value="Equipment"/>
      <xs:enumeration value="Group"/>
      <xs:enumeration value="Trade In Line"/>
      <xs:enumeration value="Trade In attached Equipment"/>
      <xs:enumeration value="Labor"/>
      <xs:enumeration value="Miscellaneous Tangible"/>
      <xs:enumeration value="Damage Waiver"/>
      <xs:enumeration value="Standard Rate"/>
      <xs:enumeration value="Global Discount"/>
      <xs:enumeration value="Difference"/>
      <xs:enumeration value="Miscellaneous Non tangible"/>
      <xs:enumeration value="Financial Discount"/>
      <xs:enumeration value="Insurance Line"/>
      <xs:enumeration value="Payment Line"/>
      <xs:enumeration value="Cash Receipt"/>
      <xs:enumeration value="Tax line"/>
      <xs:enumeration value="Total Invoice"/>
    </xs:restriction>
  </xs:simpleType>

    <xs:simpleType name="lineType1" xml:base="xs:string">

        <xs:restriction base="xs:string">
            <xs:enumeration value="1" id="Value"/>
            <xs:enumeration value="Notes"/>
            <xs:enumeration value="Standard Time"/>
            <xs:enumeration value="External Expense"/>
            <xs:enumeration value="Equipment"/>
            <xs:enumeration value="Group"/>
            <xs:enumeration value="Trade In Line"/>
            <xs:enumeration value="Trade In attached Equipment"/>
            <xs:enumeration value="Labor"/>
            <xs:enumeration value="Miscellaneous Tangible"/>
            <xs:enumeration value="Damage Waiver"/>
            <xs:enumeration value="Standard Rate"/>
            <xs:enumeration value="Global Discount"/>
            <xs:enumeration value="Difference"/>
            <xs:enumeration value="Miscellaneous Non tangible"/>
            <xs:enumeration value="Financial Discount"/>
            <xs:enumeration value="Insurance Line"/>
            <xs:enumeration value="Payment Line"/>
            <xs:enumeration value="Cash Receipt"/>
            <xs:enumeration value="Tax line"/>
            <xs:enumeration value="Total Invoice"/>

        </xs:restriction>
    </xs:simpleType>


  <xs:complexType name="orderClock">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Order" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="OrderSegment" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="OrderLine" type="xs:integer" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>


  <xs:element name="Technician">
    <xs:complexType>
      <xs:attribute name="internalId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>The business system's unique/key for the technician.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="webId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>The is the primary key of the record on the middle tier.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>


  <xs:element name="Truck">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Branch" type="dis:identifierReference" minOccurs="1" maxOccurs="1"/>
        <xs:element name="Department" type="dis:identifierReference" minOccurs="1" maxOccurs="1"/>
        <xs:element name="DisplayName" minOccurs="0" maxOccurs="1" type="xs:string"/>
        <xs:element name="User" type="dis:identifierReference" minOccurs="0" maxOccurs="1"/>
        <xs:element name="DateUpdated" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="internalId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>The business system's unique/key for the technician.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="webId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>The is the primary key of the record on the middle tier.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="truckReference">
    <xs:sequence>
      <xs:element name="Branch" type="dis:identifierReference" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Department" type="dis:identifierReference" minOccurs="0" maxOccurs="1"/>
      <xs:element name="DateUpdated" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="internalId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The business system's unique/key for the technician.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The is the primary key of the record on the middle tier.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="truckAcknowledgeReference">
    <xs:sequence>
      <xs:element name="Branch" type="dis:identifierReference" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Department" type="dis:identifierReference" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="dis:AcknowledgeStatus" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="internalId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The business system's unique/key for the technician.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="webId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The is the primary key of the record on the middle tier.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

    <xs:element name="GLAccountSummary">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:element name="CalendarPeriod" type="dis:glPeriodReference" minOccurs="0" maxOccurs="1" />
                <xs:element name="FiscalPeriod" type="dis:glPeriodReference" minOccurs="1" maxOccurs="1" />
                <xs:element name="GLMTD" type="dis:amount" />
                <xs:element name="GLYTD" type="dis:amount" />
                <xs:element name="BudgetMTD" type="dis:amount"/>
                <xs:element name="BudgetYTD" type="dis:amount"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="glAccountType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Undefined" />
            <xs:enumeration value="Asset" />
            <xs:enumeration value="Liability" />
            <xs:enumeration value="Sales" />
            <xs:enumeration value="CostOfSales" />
            <xs:enumeration value="Income" />
            <xs:enumeration value="Expense" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="glSubLedgerType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Undefined" />
            <xs:enumeration value="AccountsReceivable" />
            <xs:enumeration value="EquipmentInventory" />
            <xs:enumeration value="RentalRevenue" />
            <xs:enumeration value="CostOfRentals" />
            <xs:enumeration value="EquipmentSales" />
            <xs:enumeration value="AccruedPayroll" />
            <xs:enumeration value="PayrollDeductions" />
            <xs:enumeration value="NotesPayable" />
            <xs:enumeration value="TradePayable" />
            <xs:enumeration value="PartSales" />
            <xs:enumeration value="ServiceSales" />
            <xs:enumeration value="BankReconciliation" />
            <xs:enumeration value="AccumulatedDepreciation" />
            <xs:enumeration value="SerialSchedule" />
            <xs:enumeration value="UnitNumSchedule" />
            <xs:enumeration value="AccountSchedule" />
            <xs:enumeration value="DescSchedule" />
            <xs:enumeration value="DocNumSchedule" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="glAccountRelationshipType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Undefined" />
            <xs:enumeration value="SaleCOS" />
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="GLAccountRelationship">
        <xs:complexType>
            <xs:attribute name="internalId" use="required" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        DMS system identifier for GL Account
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="webId" use="optional" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The is the primary key of the record on the middle tier.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="type" use="optional" type="dis:glAccountRelationshipType"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="GLAccount">
      <xs:complexType>
          <xs:sequence minOccurs="1" maxOccurs="1">
              <xs:element name="Name" type="xs:string"/>
              <xs:element name="Branch" type="dis:branchReference" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                      <xs:documentation>
                          Used by Keystone to denote with which branch an account is associated.
                      </xs:documentation>
                  </xs:annotation>
              </xs:element>
              <xs:element name="type" type="dis:glAccountType" minOccurs="0" maxOccurs="1" />
              <xs:element name="subLedger" type="dis:glSubLedgerType" minOccurs="0" maxOccurs="1" />
              <xs:element name="GLAccountSummaries" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                      <xs:sequence>
                          <xs:element ref="dis:GLAccountSummary" maxOccurs="unbounded"/>
                      </xs:sequence>
                  </xs:complexType>
              </xs:element>
              <xs:element name="GLAccountRelationships" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                      <xs:sequence>
                          <xs:element ref="dis:GLAccountRelationship" maxOccurs="unbounded"/>
                      </xs:sequence>
                  </xs:complexType>
              </xs:element>
          </xs:sequence>
          <xs:attribute name="internalId" use="required" type="xs:string">
              <xs:annotation>
                  <xs:documentation>
                      DMS system identifier for GL Account
                  </xs:documentation>
              </xs:annotation>
          </xs:attribute>
          <xs:attribute name="webId" use="optional" type="xs:string">
              <xs:annotation>
                  <xs:documentation>
                      The is the primary key of the record on the middle tier.
                  </xs:documentation>
              </xs:annotation>
          </xs:attribute>
      </xs:complexType>
  </xs:element>

       <xs:complexType name="glAccountReference">
        <xs:sequence >
            <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CompanyCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="accountNumber" use="required" type="xs:string">
            <xs:annotation>
                <xs:documentation>The GL account number</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>


        <xs:complexType name="searchParams">
        <xs:sequence>
            <xs:element name="Filter" type="xs:string"/>
            <xs:element name="Date">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Start" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="End" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>